* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: white;
}

.main h1 {
  text-align: center;
  color: blueviolet;
  padding: 10px 0;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 20px;
  justify-content: stretch;
}

.recentscores {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.score-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  color: blueviolet;
}

.list-score {
  width: 100%;
  padding: 10px;
  border: 2px solid rgb(39, 39, 39);
}

tr,
td {
  padding: 10px;
}

.form-score {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  color: blueviolet;
}

#user,
#score {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
}

.btnform {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.addbtn,
.btn-refresh {
  width: 60px;
  height: 30px;
  font-weight: 400;
  border: 1px solid;
  box-shadow: 2px 2px 2px rgb(62, 61, 61);
  color: blueviolet;
}

.sucessmsg {
  text-align: center;
  border-radius: 70px;
  border: none;
  background-color: brown;
  padding: 10px;
}

@media (max-width: 480px) {
  main {
    width: 100%;
  }

  .container {
    width: 40%;
    gap: 10px;
  }
}
