* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: white;
}

.container {
  width: 60%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-content: center;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.recentscores {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.score-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.list-score {
  width: 100%;
  padding: 10px;
  border: 2px solid rgb(39, 39, 39);
}

tr,td {
  padding: 10px;
}

.form-score {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

#user,
#score {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

.btnform {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.addbtn,
.btn-refresh {
  width: 60px;
  height: 30px;
  border: 1px solid;
  box-shadow: 2px 2px 2px rgb(62, 61, 61);
}

@media (max-width:480px) {
    main {
        width: 30%;

    }
    
}
